fields_under_root: true
fields:
  instance:
    name: "{{inventory_hostname}}"

filebeat.autodiscover:
  providers:
    - type: docker
      hints.enabled: true

processors:
- add_cloud_metadata: ~

output:
  logstash:
    hosts: {{ logstash_ip }}
    loadbalance: true