[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --address={{ ansible_host }} \
  --config={{ CONFIG_DIR }}/kubelet-config.yaml \
  --resolv-conf=/etc/resolv.conf \
  --node-ip={{ ansible_host }} \
  --image-pull-progress-deadline=2m \
  --kubeconfig={{ CONFIG_DIR }}/{{ CERT_NAME }}.kubeconfig \
  --network-plugin=cni \
  --register-node=true \
  --pod-infra-container-image registry.cn-hangzhou.aliyuncs.com/google_containers/pause:3.1 \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target