version: '2'

services:
  {{ image_name }}:
    image: {{ image_name }}:{{ version }}
    container_name: {{ image_name }}
    restart: unless-stopped
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    network_mode: host
    command: [ "/usr/local/bin/{{ image_name }}",
    "--config={{ CONTAINER_CONFIG_DIR }}/{{ image_name }}.yaml",
    "--v=2" ]
    environment:
      - HOSTNAME="{{ ansible_hostname }}-{{ image_name }}"
    volumes:
      - /etc/localtime:/etc/localtime
      - {{ CONFIG_DIR }}:{{ CONTAINER_CONFIG_DIR }}:ro
      - {{ TLS_DIR }}:{{ CERT_DIR }}:ro
    logging:
      driver: "json-file"
      options:
        max-size: "500m"
        max-file: "10"