{
    "CN": "{{ COMPONENET_ROLE }}",
    "key": {
        "algo": "ecdsa",
        "size": 256
    },
    "names": [
        {
            "C": "CN",
            "L": "HK",
            "O": "{{ COMPONENET_GROUP }}",
            "OU": "HK",
            "ST": "CX"
        }
    ]
}

    
