version: '2'

services:
  {{ image_name }}:
    image: {{ image_name }}:{{ version }}
    container_name: {{ image_name }}
    restart: unless-stopped
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    network_mode: host
    command: [ "/usr/local/bin/kube-scheduler",
    "--config={{ CONTAINER_CONFIG_DIR }}/kube-scheduler.yaml",
    "--v=2" ]
    volumes:
      - /etc/localtime:/etc/localtime
      - {{ CONFIG_DIR }}:{{ CONTAINER_CONFIG_DIR }}:ro
      - {{ TLS_DIR }}:{{ CERT_DIR }}:ro
    logging:
      driver: "json-file"
      options:
        max-size: "500m"
        max-file: "10"