apiVersion: kubescheduler.config.k8s.io/v1alpha1
kind: KubeSchedulerConfiguration
clientConnection:
  kubeconfig: "{{ CONTAINER_CONFIG_DIR }}/kube-scheduler.kubeconfig"
leaderElection:
  leaderElect: true